.checkoutProduct{
    display: flex;
    margin: 20px 0px;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 100px;
    height: 180px;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__info {
    padding-left: 20px;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}

.checkoutProduct__info > button {
    background: #875abb;
    border: 1px solid;
    margin-top: 10px;
    border-color: #8d34a8 #8a319c #722984;
    color: #111;
}